* {text-decoration: none !important; outline: none !important; box-shadow: none !important; list-style: none !important;}

html {scroll-behavior: smooth !important;}

:root {--theme-primary-color: #0093CA; --theme-secondary-color:#1BA1A5; --black-color: #2B2A29; --black-color-transparent: #2b2a298e; --white-color: #fff; --light-gray-color: #e6e6e6; --primary-transparent : #ace9ff3e; --danger-theme : #dc3545;}


/* Font Size */
.text-extra-large {font-size: 28px;}
.text-large {font-size: 20px;}
.text-medium {font-size: 18px;}
.text-regular {font-size: 14px !important;}
.text-small {font-size: 12px;}
.text-extra-small {font-size: 10px;}


/* Font color */
.text-primary-theme {color: var(--theme-primary-color);}
.text-secondary-theme {color: var(--theme-secondary-color);}
.text-black-theme{color: var(--black-color);}
.text-white-theme{color: var(--white-color);}
.bg-primary-theme{background: var(--theme-primary-color);}
.bg-secondary-theme{background: var(--theme-secondary-color);}
.bg-black-theme{background: var(--black-color);}
.bg-white-theme{background: var(--white-color);}

/* Font Weight */
.fw-8 {font-weight: 800 !important;}
.fw-7 {font-weight: 700 !important;}
.fw-6 {font-weight: 600 !important;}
.fw-5 {font-weight: 500 !important;}
.fw-4 {font-weight: 400 !important;}
.fw-regular {font-weight: normal !important;}


/* Buttons */
.btn-primary-theme {background: var(--black-color); color: var(--white-color); transition: 0.5s ease-in-out; border: 1px solid var(--black-color); font-size: 12px; border-radius: 0; line-height: 25px;}
.btn-primary-theme:hover {background: var(--white-color); color: var(--black-color); transition: 0.5s ease-in-out;}
.btn-secondary-theme {background: var(--white-color); color: var(--black-color); transition: 0.5s ease-in-out; border: 1px solid var(--black-color); font-size: 12px; border-radius: 0;}
.btn-secondary-theme:hover {background: var(--black-color); color: var(--white-color); transition: 0.5s ease-in-out;}
.btn-danger-theme {background: var(--danger-theme); color: var(--white-color); transition: 0.5s ease-in-out; border: 1px solid var(--danger-theme); font-size: 12px; border-radius: 0;}
.btn-danger-theme:hover {background: var(--white-color); color: var(--danger-theme); transition: 0.5s ease-in-out;}

/* Border Raduis */
.rounded-1 {border-radius: 5px !important;}
.rounded-2 {border-radius: 10px !important;}
.rounded-3 {border-radius: 15px !important;}
.rounded-4 {border-radius: 20px !important;}
.rounded-5 {border-radius: 25px !important;}
.rounded-6 {border-radius: 30px !important;}

/* Border Style */
.border-light{border: 1px solid #f4f4f4 !important;}
.border-bottom-light{border-bottom: 1px solid #f4f4f4 !important;}

/* Padding */
.padding-7 {padding: 7px 70px 70px 7px;}
.padding-6 {padding: 6px 60px 60px 6px;}
.padding-5 {padding: 5px 50px 50px 5px;}
.padding-4 {padding: 4px 40px 40px 4px;}
.padding-3 {padding: 3px 30px 30px 3px;}
.padding-2 {padding: 2px 20px 20px 2px;}
.padding-1 {padding: 1px 10px 10px 1px;}


/* Section Padding */
.section-padding-5 {padding: 50px;}
.section-padding-4 {padding: 40px;}
.section-padding-3 {padding: 30px;}
.section-padding-2 {padding: 20px;}
.section-padding-1 {padding: 10px;}


/* Alignment */
.text-justify {text-align: justify; }
.align-items-center {align-items: center; }
.justify-content-center {justify-content: center; }


/* Text Ellips */
.text-elips-1 {display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;}
.text-elips-2 {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.text-elips-3 {display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;}
.text-elips-4 {display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;}
.text-elips-5 {display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden;}


/* Social Media Icons */
.social-icons{height : 25px; width: 25px; background: var(--white-color); color: var(--theme-primary-color); text-align: center; padding: 5px; border-radius: 2px;}


/* Section Title */
.section-title h1,
.section-title h2{text-transform: capitalize;}


/* Width Style */
.w-fit{width: fit-content !important;}


/* Top Header Section */
.header-section .topbar-section{background: var(--theme-primary-color);}
.header-section .top-head-left {float: left}
.header-section .top-head-left .top-contact {position: relative;display: inline-block}
.header-section .top-head-left .top-contact h3 {color: var(--white-color);}
.header-section .top-head-left .top-contact h3 a {color: var(--white-color);margin-bottom: 0;text-decoration: none}
.header-section .top-header-right {float: right}
.header-section .top-header-right .top-header-social {display: inline-block}
.header-section .top-header-right .top-header-social ul {list-style: none;margin: 0;padding: 0}
.header-section .top-header-right .top-header-social ul li {display: inline-block;top: 1px;position: relative;}
.header-section .top-header-right .top-header-social ul li a i {width: 25px; height: 25px; line-height: 28px; text-align: center; background-color: var(--white-color); color: var(--theme-primary-color);}


/* Slider Start */
.slider-section .carousel-indicators [data-bs-target]{ width: 20px;}
.slider-section .carousel-indicators {margin-right: 0; margin-bottom: 0.5;}
/* Slider End */


/* Packages Start */
.package-section .services-card {z-index: 1; cursor: pointer;}
.package-section .service-image {height: 150px;width: 150px;}
.package-section .service-image img {height: 100%;width: 100%;}
.package-section .services-card::before {content: ""; position: absolute; z-index: -1; bottom: 0; right: 0; width: 90px; height: 90px; background-color: var(--primary-transparent); border-radius: 272px 0 0 0; opacity: .1; transition: .7s}
.package-section .services-card::after {content: ""; position: absolute; z-index: -1; bottom: 0; right: 0; width: 75px; height: 75px; background-color: var(--white-color); border-radius: 170px 0 0 0; opacity: .1; transition: .7s}
.package-section .services-card h2 a,
.package-section .services-card p {transition: .7s; }
.package-section .services-card:hover::before {width: 100%; height: 100%; border-radius: 10px; opacity: 1 }
.package-section .services-card:hover p,
.package-section .services-card:hover h2 a { color: var(--black-color); }


/* Modal Customized */
.inquery-modal .modal-header .header .image{ height: 60px; width: 60px; }
.inquery-modal .modal-header .header .image img{ height: 100%; width: 100%; object-fit: contain;}


/* Breadcrumb Style */
.breadcrumb-style-1{background-image: url(https://dummyimage.com/1920x200/ccc/ccc); background-size: cover; padding: 2em; position: relative;}
.overlay{height: 100%; width: 100%;  top: 0; left: 0; right: 0; left: 0; position: absolute; background: var(--black-color-transparent);}
.breadcrumb-section .container{z-index: 999; position: relative;}
.breadcrumb-item+.breadcrumb-item::before{color: var(--black-color);}


/* Blocg Section */
.particular-blog-section .blog-image{
    background-image: url(); background-size: cover; background-position:center; height: 100%;}


/* Navbar Offcanvas */
@media only screen and (min-width: 992px) {
    .header-section .offcanvas { position: relative !important; visibility: visible !important; transform: none !important; border: none; width: 100%; color: #fff;}
}

@media only screen and (max-width: 767px) {
    .offcanvas-header { border-bottom: 1px solid var(--theme-primary-color);}
    .offcanvas-body ul { display: block !important; padding-left: 0; margin-bottom: 2em !important;}
    .offcanvas-body ul li p { margin-bottom: 5px;}
    .offcanvas-body .data ul li { padding: 10px; font-size: 13px;}
}